

<article>
    <h1>Artículos por Categoría</h1>
    <ng-container *ngIf="role=='profesor'">
      <button (click)="openModal()" class="fixed-action-button">+</button>
      <app-crear-curso *ngIf="showModal" (close)="closeModal()"></app-crear-curso>
  </ng-container>
<section>
    <h2>Tus cursos</h2>
    <div class="card-list">
      <app-card-curso *ngFor="let CursoModel of cursosActuales" [CursoModel]="CursoModel"></app-card-curso>
    </div>
  </section>


  <section>
    <h2>Terminados</h2>
    <div class="card-list">
    </div>
  </section>
</article>