<div class="container">
  <button class="back-button" (click)="goBack()">⬅ Volver</button>
  <h1 class="title">Detalles del proyecto</h1>

  <div class="form-group">
    <label for="name">Nombre del proyecto:</label>
    <input id="name" type="text" [(ngModel)]="propuesta.nombre" />

    <label for="descripcion">Descripción del proyecto:</label>
    <input id="descripcion" type="text" [(ngModel)]="propuesta.descripcion" />

    <p name="EstadoProyecto" id="estado" >Estado del proyecto: {{ propuesta.estado}}</p>

    <p name="TipoProyecto" id="tipo" >Tipo de proyecto: {{ propuesta.tipo}}</p>

    <p name="FechaProyecto" id="fecha">Fecha del proyecto: {{ propuesta.createDate.toLocaleDateString()}}</p> 
   
  </div>

  <button class="update-button" (click)="actualizarPropuesta()">Actualizar</button>
  <button class="delete-button" (click)="eliminarPropuesta()">Eliminar</button>
</div>
