

<header>
  <div class="logo">
    <img src="../assets/logo_digi.png" alt="Logo DigiClass" />
    
  </div>
  <nav>
    <a href="#">Inicio</a>
    <a  routerLink="/cursos">Cursos</a>
  <ng-container *ngIf="token">
    <a href="#" routerLink="/misCursos">Mis Cursos</a>
</ng-container>
    <a href="#">Sobre Nosotros</a>
    <a href="#">Contacto</a>
  </nav>
  <ng-container *ngIf="!token; else inactivo">
  <div>
    <button (click)="goToRegister()" class="btn_login">Iniciar sesion</button>
  </div>
</ng-container>
<ng-template #inactivo>
  <div class="contenedor" id="miContenedor">
    <div class="texto" (click)="toggleDesplegable()">{{name}} <i class="fa-solid fa-caret-down"></i></div>
    <div class="desplegable" *ngIf="mostrarDesplegable">
      <button class="logout" (click)="logout()">Cerrar Sesion</button>
    </div>
  </div>
</ng-template>
  
</header>

<router-outlet></router-outlet>



