
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --fondo-claro: #F5EEDC;
  --azul-principal: #27548A;
  --azul-oscuro: #183B4E;
  --amarillo: #DDA853;
  }

  body {
    font-family: 'Inter', sans-serif;
    background-color: #f9fafb;
    color: #1f2937;
  }

  header {
    background-color: #183B4E; /* Azul marino */
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 100px;
    margin-right: 12px;
    width: 200px;
    object-fit: cover;
  }

  .logo h1 {
    color: #ffffff;
    font-size: 1.5rem;
  }

  nav a {
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
  }

  nav a:hover {
    color: #38bdf8;
  }

  
  .btn_login{
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    font-family: 'Be Vietnam Pro', sans-serif;
  }

/*desplegable*/
.contenedor {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.texto {
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.desplegable {
  position: absolute;
  top: 120%;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  border-radius: 5px;
  min-width: 100px;
  overflow: hidden;
  z-index: 1;
}
.desplegable>.logout{
  background-color: red;
  color: white;
}

.desplegable button {
  width: 100%;
  padding: 10px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.desplegable button:hover {
  color:#38bdf8;
}

  


