<article>
<div class="curso-container">
    <div class="campo">
        <label for="titulo">Título:</label>
        <div id="titulo">{{Curso.titulo}}</div>
    </div>

    <div class="campo">
        <label for="descripcion">Descripción:</label>
        <div id="descripcion">{{Curso.descripcion}}</div>
    </div>

    <div class="campo">
        <label for="profesor">Nombre del Profesor:</label>
        <div id="profesor">{{Curso.nombreProfesor}}</div>
    </div>

    <div class="campo">
        <label for="fecha-inicio">Fecha de Inicio:</label>
        <div id="fecha-inicio">{{fechaInicio}}</div>
    </div>

    <div class="campo">
        <label for="fecha-fin">Fecha de Finalización:</label>
        <div id="fecha-fin">{{fechaFin}}</div>
    </div>

    <ng-container *ngIf="token">
        <div>
            <button class="boton-inscribirse" (click)="Inscribirse()">Inscribirse</button>
        </div>
      </ng-container>
</div>
</article>