<article>
<div class="curso-container">
    <div class="campo">
        <label for="titulo">Título:</label>
        <div id="titulo">{{Curso.titulo}}</div>
    </div>

    <div class="campo">
        <label for="descripcion">Descripción:</label>
        <div id="descripcion">{{Curso.descripcion}}</div>
    </div>

    <div class="campo">
        <label for="profesor">Nombre del Profesor:</label>
        <div id="profesor"></div>
    </div>

    <div class="campo">
        <label for="fecha-inicio">Fecha de Inicio:</label>
        <div id="fecha-inicio">01/05/2025</div>
    </div>

    <div class="campo">
        <label for="fecha-fin">Fecha de Finalización:</label>
        <div id="fecha-fin">30/06/2025</div>
    </div>

    <button class="boton-inscribirse">Inscribirse</button>
</div>
</article>